<div class="table-responsive">          
  <span class="pull-right">
    <button class="btn btn-primary" ng-click="location()">Add</button>
  </span>
  <table class="table" ng-init="initialize()">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="list in productData">
        <td>{{$index + 1}}</td>
        <td>{{list.name}}</td>
        <td>{{list.price}}</td>
        <td>
          <button class="btn btn-warning btn-xs" ng-click="editProduct(list._id)">Edit</button>
          <button class="btn btn-danger btn-xs" ng-click = "deleteProduct(list._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <div ng-view></div> -->
</div>