<form  ng-init="getProductById()">
    
    <div class="form-group">
        <label for="email">Product Name</label>
        <input type="text" ng-model="productById.name" class="form-control" name="name" required>
    </div>
    
    <div class="form-group">
        <label for="pwd">Price:</label>
        <input type="text" ng-model="productById.price" class="form-control" name="price" required>
    </div>
    <button type="submit" ng-click="updateProduct()" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-default" >Cancel</button>

</form>